<div>
    <table class="table table-striped">
        <thead>
        <tr jhiSort [(predicate)]="sortByField" [(ascending)]="reverse" [callback]="sortApiUsers.bind(this)">
            <th jhiSortBy="username" scope="col">
                <span>{{ 'api-user-management.username' | translate }}</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="companyName" scope="col">
                <span>{{ 'api-user-management.companyName' | translate }}</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="companyEmail" scope="col">
                <span>{{ 'api-user-management.companyEmail' | translate }}</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="technicalContactName" scope="col">
                <span>{{ 'api-user-management.technicalContactName' | translate }}</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="technicalContactEmail" scope="col">
               <span>{{ 'api-user-management.technicalContactEmail' | translate }}</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="createDate" scope="col">
                <span>{{ 'api-user-management.createDate' | translate }}</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="lastAccessDate" scope="col">
                <span>{{ 'api-user-management.lastAccessDate' | translate }}</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="active" scope="col">
                <span>{{ 'api-user-management.active' | translate }}</span>
                <span class="fa fa-sort"></span>
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let apiUser of apiUsers; trackBy: trackById">
            <td>{{ apiUser.username }}</td>
            <td>{{ apiUser.companyName }}</td>
            <td>{{ apiUser.companyEmail }}</td>
            <td>{{ apiUser.technicalContactName }}</td>
            <td>{{ apiUser.technicalContactEmail}}</td>
            <td>{{ apiUser.createDate | date:'dd.MM.yyyy' }}</td>
            <td>{{ apiUser.lastAccessDate | date:'dd.MM.yyyy' }}</td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="setActive(apiUser, true)" *ngIf="!apiUser.active" jhiTranslate="api-user-management.deactivated">Deactivated</button>
                <button class="btn btn-success btn-sm" (click)="setActive(apiUser, false)" *ngIf="apiUser.active" jhiTranslate="api-user-management.activated">Activated</button>
            </td>
            <td>
                <button class="btn-primary btn-sm" (click)="openUpdateDialog(apiUser)">
                    <span class="fa fa-pencil" aria-hidden="true"></span>
                </button>
            </td>
            <td>
                <button class="btn-primary btn-sm" aria-label="Update password" (click)="openPasswordUpdateDialog(apiUser.id)">
                    <span class="fa fa-key" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="apiUsers">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page + 1" [total]="totalCount"
                            [itemsPerPage]="PAGE_SIZE"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalCount"
                            [maxSize]="10"
                            [page]="page + 1"
                            (pageChange)="loadPage($event)"
                            [pageSize]="PAGE_SIZE"></ngb-pagination>
        </div>
    </div>
</div>
