<div class="dashboard__content--table">
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">{{ 'api-user-management.id' | translate }}</th>
            <th scope="col">{{ 'api-user-management.user-name' | translate }}</th>
            <th scope="col">{{ 'api-user-management.email' | translate }}</th>
            <th scope="col">{{ 'api-user-management.company.name' | translate }}</th>
            <th scope="col">{{ 'api-user-management.contact' | translate }}</th>
            <th scope="col">{{ 'api-user-management.contact.email' | translate }}</th>
            <th scope="col">{{ 'api-user-management.password' | translate }}</th>
            <th scope="col">{{ 'api-user-management.active-date' | translate }}</th>
            <th scope="col">{{ 'api-user-management.active' | translate }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let apiUser of apiUsers">
            <td>{{ apiUser.id | shorten:7 }}</td>
            <td>{{ apiUser.username }}</td>
            <td>{{ apiUser.email }}</td>
            <td>{{ apiUser.companyName }}</td>
            <td>{{ apiUser.contactName }}</td>
            <td>{{ apiUser.contactEmail}}</td>
            <td>{{ apiUser.password }}</td>
            <td>{{ apiUser.lastAccessDate | date:'dd/MM/yy HH:mm' }}</td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="setActive(apiUser, true)" *ngIf="!apiUser.active"
                        jhiTranslate="api-user-management.deactivated">Deactivated</button>
                <button class="btn btn-success btn-sm" (click)="setActive(apiUser, false)" *ngIf="apiUser.active"
                        jhiTranslate="api-user-management.activated">Activated</button>
            </td>
            <td>
                <button class="btn-primary btn-sm" (click)="openUpdateDialog(apiUser)">
                    <span class="fa fa-pencil"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ngb-pagination class="pagination-alv__table"
                        [collectionSize]="totalCount"
                        [maxSize]="10"
                        [page]="page + 1"
                        (pageChange)="loadPage($event)"
                        [pageSize]="PAGE_SIZE"></ngb-pagination>
    </nav>
</div>
