<div class="container">
    <div class="base">
        <div class="base__content--wide">
            <div class="alv-logo-box md-whiteframe-1dp">

                <div class="row justify-content-between">
                    <div class="col-md-4 col-sm-12">
                        <h2 class="dashboard__title text--light">
                            <span class="dashboard__icon">
                                <span class="fa fa-table" aria-hidden="true"></span>
                            </span>
                            {{ 'api-user-management.title' | translate }}
                        </h2>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <button (click)="openCreateNewDialog()"
                            class="btn btn-primary float-right jh-create-entity">
                        <span class="fa fa-plus"></span>
                        <span>{{ 'api-user-management.new' | translate }}</span>
                    </button>
                    </div>
                </div>

                <div class="dashboard__actions">
                    <form [formGroup]="apiUsersFilterForm" (submit)="filter()" class="form-inline">
                        <div class="form-group">
                            <label for="table-search" class="sr-only">
                                {{ 'api-user-management.search' | translate }}
                            </label>
                            <div class="form-group--icon">
                                <input formControlName="filter" id="table-search" class="form-control"
                                       placeholder="{{ 'api-user-management.search' | translate }}">
                                <span class="fa-stack form-control--icon" (click)="filter()">
                                <span aria-hidden="true" class="fa fa-search fa-stack-1x"></span>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>

                <jr2-api-user-management-list [apiUsers]="apiUsers$ | async"
                                              [page]="page$ | async"
                                              [totalCount]="totalCount$ | async">
                </jr2-api-user-management-list>

            </div>
        </div>
    </div>
</div>
