<div class="container-fluid">
    <h2>
        <span jhiTranslate="systemNotificationsManagement.home.title">Users</span>
    </h2>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                </div>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th jhiTranslate="systemNotificationsManagement.title">Title</th>
                <th jhiTranslate="systemNotificationsManagement.type">Type</th>
                <th jhiTranslate="systemNotificationsManagement.startDate">StartDate</th>
                <th jhiTranslate="systemNotificationsManagement.endDate">EndDate</th>
                <th jhiTranslate="systemNotificationsManagement.status">Status</th>
                <th jhiTranslate="systemNotificationsManagement.actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let systemNotification of systemNotifications">

                <td>{{systemNotification.title}}</td>
                <td>{{systemNotification.type}}</td>
                <td>{{systemNotification.startDate}}</td>
                <td>{{systemNotification.endDate}}</td>
                <th>
                    <button class="btn btn-success btn-sm"
                            *ngIf="systemNotification.isActive"
                            jhiTranslate="systemNotificationsManagement.activated">Activated
                    </button>
                    <button class="btn btn-danger btn-sm" *ngIf="!systemNotification.isActive"
                            jhiTranslate="systemNotificationsManagement.deactivated">Deactivated
                    </button>
                </th>
                <th>
                    <button type="submit"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button type="submit"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: ['system-notification-delete'] } }]"
                            class="btn btn-danger btn-sm">
                        <span class="fa fa-remove"></span>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" [routerLink]="['/', { outlets: { popup: ['system-notification-new'] } }]">
        <span class="fa fa-plus"></span> <span jhiTranslate="systemNotificationsManagement.home.create">Create a new SystemNotification</span>
    </button>
</div>
