.job-description__item {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.08);
}
.right-input {
    float: right;
    width: 5rem;
}
.right-input-label {
    float: left;
    clear: both;
}

.right-input-error-label {
    float: left;
    clear: both;
}

.right-input-group {
    display: block;
    overflow: auto;
}
