<form [formGroup]="legalTermsForm" (ngSubmit)="onSubmit()">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" jhiTranslate="legal-terms-management.legal-terms-details-dialog"></h5>

            <button type="button" class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="onClose()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="container">
                <div class="form-group">
                    <div class="form-group">
                        <label for="effectiveAt">Effective At</label>
                        <div class="input-group" id="effectiveAt">
                            <input #effectiveAtDatePicker="ngbDatepicker"
                                   type="text"
                                   class="form-control date__input"
                                   formControlName="effectiveAt"
                                   ngbDatepicker
                                   [minDate]="minEffectiveAt"
                                   [readonly]="readonly"
                                   (focus)="effectiveAtDatePicker.close()"/>
                            <button
                                    *ngIf="!readonly"
                                    class="input-group-append"
                                    (click)="effectiveAtDatePicker.toggle();"
                                    type="button">
                                <i class="fa fa-calendar-o"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                        <jr2-input-error-message [formGroup]="legalTermsForm"
                                                 path="effectiveAt"
                                                 [errorCodes]="['required', 'pastEffectiveAt']"
                                                 [keys]="['entity.validation.required',
                                                 'legal-terms-management.legal-terms-details-dialog.validate.pastEffectiveAt']">
                    </div>

                    <div class="form-group">
                        <label for="linkDe">Link DE</label>
                        <input id="linkDe"
                               type="text"
                               class="form-control"
                               formControlName="linkDe"
                               [readonly]="readonly"/>
                        <jr2-input-error-message [formGroup]="legalTermsForm"
                                                 path="linkDe"
                                                 [errorCodes]="['required', 'pattern']"
                                                 [keys]="['entity.validation.required',
                                                     'legal-terms-management.legal-terms-details-dialog.validate.url.pattern']">
                    </div>

                    <div class="form-group">
                        <label for="linkEn">Link En</label>
                        <input id="linkEn"
                               type="text"
                               class="form-control"
                               formControlName="linkEn"
                               [readonly]="readonly"/>
                        <jr2-input-error-message [formGroup]="legalTermsForm"
                                                 path="linkEn"
                                                 [errorCodes]="['required', 'pattern']"
                                                 [keys]="['entity.validation.required',
                                                     'legal-terms-management.legal-terms-details-dialog.validate.url.pattern']">
                    </div>

                    <div class="form-group">
                        <label for="linkFr">Link FR</label>
                        <input id="linkFr"
                               type="text"
                               class="form-control"
                               formControlName="linkFr"
                               [readonly]="readonly"/>
                        <jr2-input-error-message [formGroup]="legalTermsForm"
                                                 path="linkFr"
                                                 [errorCodes]="['required', 'pattern']"
                                                 [keys]="['entity.validation.required',
                                                     'legal-terms-management.legal-terms-details-dialog.validate.url.pattern']">
                    </div>

                    <div class="form-group">
                        <label for="linkIt">Link IT</label>
                        <input id="linkIt"
                               type="text"
                               class="form-control"
                               formControlName="linkIt"
                               [readonly]="readonly"/>
                        <jr2-input-error-message [formGroup]="legalTermsForm"
                                                 path="linkIt"
                                                 [errorCodes]="['required', 'pattern']"
                                                 [keys]="['entity.validation.required',
                                                     'legal-terms-management.legal-terms-details-dialog.validate.url.pattern']">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary"
                jhiTranslate="entity.action.cancel"
                (click)="onClose()">
            </button>
            <button
                *ngIf="!readonly"
                type="submit"
                class="btn btn-primary"
                [disabled]="!legalTermsForm.valid"
                jhiTranslate="entity.action.save">
            </button>
        </div>
    </div>
    </div>
</form>
