<div class="container-fluid">
    <h2>
        <span jhiTranslate="blacklisted-agent.title">Blacklisted Agents</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-sm-12">
            <button
                class="btn btn-danger btn-sm"
                (click)="openCreateDialog()"
                jhiTranslate="blacklisted-agent.create-blacklist-entry">
                Add PAV to Blacklist
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="filterText"
                       placeholder="{{ 'blacklisted-agent.filter.placeholder' | translate }}">
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th jhiTranslate="blacklisted-agent.header.id"></th>
                <th jhiTranslate="blacklisted-agent.header.externalId"></th>
                <th jhiTranslate="blacklisted-agent.header.createdBy"></th>
                <th jhiTranslate="blacklisted-agent.header.counter"></th>
                <th jhiTranslate="blacklisted-agent.header.name"></th>
                <th jhiTranslate="blacklisted-agent.header.street"></th>
                <th jhiTranslate="blacklisted-agent.header.zipCode"></th>
                <th jhiTranslate="blacklisted-agent.header.city"></th>
                <th jhiTranslate="blacklisted-agent.header.blacklistedAt"></th>
                <th jhiTranslate="blacklisted-agent.header.status"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agent of blacklistedAgents$ | async | blacklistedAgentPropertyFilter : filterText">
                <td>{{ agent.id }}</td>
                <td>{{ agent.externalId }}</td>
                <td>{{ agent.createdBy }}</td>
                <td>{{ agent.blacklistingCounter }}</td>
                <td>{{ agent.name }}</td>
                <td>{{ agent.street }}</td>
                <td>{{ agent.zipCode }}</td>
                <td>{{ agent.city }}</td>
                <td>{{ agent.blacklistedAt | date:'dd/MM/yy HH:mm' }}</td>
                <td>
                    <button
                        class="btn btn-danger btn-sm"
                        (click)="activate(agent)"
                        *ngIf="!isActive(agent)"
                        jhiTranslate="blacklisted-agent.status.inactive">
                        Inactive
                    </button>
                    <button
                        class="btn btn-success btn-sm"
                        (click)="deactivate(agent)"
                        *ngIf="isActive(agent)"
                        jhiTranslate="blacklisted-agent.status.active">
                        Active
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
