@import '../../../../content/scss/jbr2_variables';

.registration-questionnaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.registration-questionnaire__paragraph, .registration-questionnaire__header {
    background: $main-color-gray-light-50;
    padding: $margin-x-general $margin-x-general*2;
    margin: $margin-x-general;
}

.registration-questionnaire__header {
    padding-top: $margin-x-general;
}

.checkbox-indent {
    padding-left: 30px;
}

.registration-questionnaire__actions {
    padding-top: $margin-x-general;
    padding-bottom: $margin-x-general;
    margin-right: $margin-y-general;
    margin-left: $margin-y-general;

    > .form__actions {

        display: flex;

        .btn {
            margin-right: $margin-y-general;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .fill-space {
            flex-grow: 1;
        }
    }
}
