<div class="registration-questionnaire">
    <form [formGroup]="roleForm" (ngSubmit)="next()" novalidate>

        <div class="registration-questionnaire__header">
            <h2 jhiTranslate="registrationQuestionnaire.header"></h2>
            <p jhiTranslate="registrationQuestionnaire.placeholder"></p>
        </div>

        <div class="registration-questionnaire__paragraph">
            <fieldset>
                <div class="radio col-form-label">
                    <input
                        id="jobseeker"
                        name="selectedRole"
                        type="radio"
                        formControlName="selectedRole"
                        value="jobseeker">
                    <label
                        for="jobseeker"
                        jhiTranslate="registrationQuestionnaire.ravCustomer">
                    </label>
                </div>
                <div class="radio col-form-label">
                    <input
                        id="employer"
                        name="selectedRole"
                        formControlName="selectedRole"
                        type="radio"
                        value="employer">
                    <label
                        for="employer"
                        jhiTranslate="registrationQuestionnaire.employer"></label>
                </div>
                <div class="radio col-form-label">
                    <input
                        id="agency"
                        name="selectedRole"
                        formControlName="selectedRole"
                        type="radio"
                        value="agency">
                    <label
                        for="agency"
                        jhiTranslate="registrationQuestionnaire.recruitmentAgency.message">
                    </label>
                </div>
            </fieldset>
        </div>

        <div *ngIf="hasRoleSelected()">
            <fieldset class="registration-questionnaire__paragraph">
                <div class="checkbox">
                    <input
                        type="checkbox"
                        formControlName="termsAccepted"
                        id="termsAndConditions">
                    <label
                        for="termsAndConditions"
                        jhiTranslate="registrationQuestionnaire.termsOfUse.accept">
                    </label>
                </div>
                <div class="checkbox-indent">
                    <a href="#" jhiTranslate="registrationQuestionnaire.termsOfUse.link"></a>
                </div>

                <div class="registration-questionnaire__actions">
                    <div class="form__actions">
                        <div class="fill-space"></div>
                        <button type="button"
                                class="btn btn-secondary btn-lg"
                                jhiTranslate="entity.action.cancel"
                                (click) = "cancel()">
                        </button>
                        <button type="submit"
                                class="btn btn-primary btn-lg"
                                jhiTranslate="navigation.next"
                                [disabled]="!isTermsAndConditionsAccepted()">
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>








