<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ 'api-user-management.dialog.title' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="activeModal.close()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="apiUserForm" (ngSubmit)="submit(apiUserForm.value)">
            <div class="form-group">
                <label class="form-control-label">
                    {{ 'api-user-management.username' | translate }}
                </label>
                <input formControlName="username" class="form-control">

                <div *ngIf="apiUserForm.get('username').touched && apiUserForm.get('username').hasError('required')">
                    <small class="form-text text-danger">
                        {{ 'entity.validation.required' | translate }}
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">
                    {{ 'api-user-management.companyName' | translate }}
                </label>
                <input formControlName="companyName" class="form-control">

                <div *ngIf="apiUserForm.get('companyName').touched && apiUserForm.get('companyName').hasError('required')">
                    <small class="form-text text-danger">
                        {{ 'entity.validation.required' | translate }}
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">
                    {{ 'api-user-management.companyEmail' | translate }}
                </label>
                <input formControlName="companyEmail" class="form-control">

                <div *ngIf="apiUserForm.get('companyEmail').touched && apiUserForm.get('companyEmail').invalid">
                    <small *ngIf="apiUserForm.get('companyEmail').hasError('required')" class="form-text text-danger">
                        {{ 'entity.validation.required' | translate }}
                    </small>

                    <small *ngIf="apiUserForm.get('companyEmail').hasError('pattern')" class="form-text text-danger">
                        {{ 'global.messages.validate.email.invalid' | translate }}
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">
                    {{ 'api-user-management.technicalContactName' | translate }}
                </label>
                <input formControlName="technicalContactName" class="form-control">

                <div *ngIf="apiUserForm.get('technicalContactName').touched && apiUserForm.get('technicalContactName').hasError('required')">
                    <small class="form-text text-danger">
                        {{ 'entity.validation.required' | translate }}
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">
                    {{ 'api-user-management.technicalContactEmail' | translate }}
                </label>
                <input formControlName="technicalContactEmail" class="form-control">

                <div *ngIf="apiUserForm.get('technicalContactEmail').touched && apiUserForm.get('technicalContactEmail').invalid">
                    <small *ngIf="apiUserForm.get('technicalContactEmail').hasError('required')" class="form-text text-danger">
                        {{ 'entity.validation.required' | translate }}
                    </small>

                    <small *ngIf="apiUserForm.get('technicalContactEmail').hasError('pattern')" class="form-text text-danger">
                        {{ 'global.messages.validate.email.invalid' | translate }}
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">
                    {{ 'api-user-management.password' | translate }}
                </label>
                <div class="input-group">
                    <input formControlName="password" class="form-control">
                    <div class="input-group-append">
                        <button type="button" (click)="generatePassword()" class="btn btn-outline-secondary">
                            {{ 'api-user-management.password.generate' | translate }}
                        </button>
                    </div>
                </div>

                <div *ngIf="apiUserForm.get('password').touched && apiUserForm.get('password').hasError('required')">
                    <small class="form-text text-danger">
                        {{ 'entity.validation.required' | translate }}
                    </small>
                </div>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input formControlName="active" type="checkbox" class="form-check-input"/>
                    {{ 'api-user-management.active' | translate }}
                </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="activeModal.close()">
            <span class="fa fa-ban"></span>
            <span>{{ 'api-user-management.dismiss' | translate }}</span>
        </button>
        <button class="btn btn-primary" [disabled]="apiUserForm.invalid" (click)="submit(apiUserForm.value)">
            <span class="fa fa-save"></span>
            <span>{{ 'api-user-management.confirm' | translate }}</span>
        </button>
    </div>
</div>
