<ng-template>
    <ng-container *ngIf="legalTermsUrl$ | async as legalTermsUrl">
        <div class="modal-header">
            <h4 class="modal-title">{{ 'global.legal-terms-dialog.header.title' | translate }}</h4>

        </div>
        <div class="modal-body">
            <ul class="alert alert-info">
                <li>{{ 'global.legal-terms-dialog.body.content1' | translate }}</li>
                <li>{{ 'global.legal-terms-dialog.body.content2' | translate }}</li>
            </ul>
            <input type="checkbox" id="termsCheckbox" #termsCheckbox value="true">
            <label for="termsCheckbox">{{ 'global.legal-terms-dialog.body.accept-label' | translate }}</label>
            <br/>
            <a *ngIf="legalTermsUrl !== 'error'" [href]="legalTermsUrl" target="_blank">
                {{ 'global.legal-terms-dialog.body.accept-link.text' | translate}}
            </a>
            <div *ngIf="legalTermsUrl === 'error'" class="alert alert-danger">
                {{ 'global.legal-terms-dialog.body.accept-link.error' | translate }}
            </div>
        </div>
        <div class="modal-footer d-flex flex-column-reverse flex-md-row">
            <button type="button"
                    class="btn btn-secondary btn-lg"
                    (click)="logout()"
                    jhiTranslate="global.legal-terms-dialog.footer.decline">
            </button>
            <button type="button"
                    class="btn btn-primary btn-lg mb-1 mb-md-0"
                    [disabled]="!termsCheckbox.checked || legalTermsUrl === 'error'"
                    (click)="acceptLegalTerms()"
                    jhiTranslate="global.legal-terms-dialog.footer.accept">
            </button>
        </div>
    </ng-container>
</ng-template>
