<div class="container-fluid">
    <h2>{{ 'user-info.title' | translate }}</h2>
    <span>{{ 'user-info.desc' | translate }}</span>

    <form class="form-inline" (ngSubmit)="searchByEMail()" novalidate
          autocomplete="off">
        <label class="sr-only" for="input-user-email">E-Mail</label>
        <div class="mb-2 mr-sm-2">
            <input type="text" class="form-control" id="input-user-email"
                   placeholder="muster@example.com"
                   [formControl]="email">
        </div>
        <button type="submit" class="btn btn-primary mb-2">{{ 'user-info.search' |
            translate }}
        </button>
    </form>

    <div class="missmatch-info" *ngIf="errorMessageKey" [jhiTranslate]="errorMessageKey">
    </div>

    <hr>

    <div class="row">
        <div class="col-6">

            <h3>{{ 'user-info.title' | translate }}</h3>
            <div class="section">
                <div *ngIf="selectedUserInfo;else no_user_info">
                    <dl>
                        <dt>{{ 'user-info.label.ext-id' | translate }}</dt>
                        <dd>{{selectedUserInfo.userExternalId}}</dd>

                        <dt>{{ 'user-info.label.email' | translate }}</dt>
                        <dd>{{selectedUserInfo.email}}</dd>

                        <dt>{{ 'user-info.label.firstname' | translate }}</dt>
                        <dd>{{selectedUserInfo.firstName}}</dd>

                        <dt>{{ 'user-info.label.lastname' | translate }}</dt>
                        <dd>{{selectedUserInfo.lastName}}</dd>
                    </dl>
                </div>
                <ng-template #no_user_info>
                    <span>{{ 'user-info.no-user-info' | translate }}</span>
                </ng-template>
            </div>

            <h3>{{ 'user-info.account-info' | translate }}</h3>
            <div class="section">
                <div *ngIf="selectedUserInfo;else no_account_info">
                    <dl>
                        <dt>{{ 'user-info.label.registration-status' | translate }}</dt>
                        <dd class="badge"
                            [class.badge-danger]="isRegistrationStatusUnregistered()"
                            [class.badge-warning]="isRegistrationStatusValidationPAVorEMP()"
                            [class.badge-success]="isRegistrationStatusRegistered()"
                        >{{selectedUserInfo.registrationStatus}}
                        </dd>

                        <dt>{{ 'user-info.label.created' | translate }}</dt>
                        <dd>{{selectedUserInfo.createdAt | date}}</dd>

                        <dt>{{ 'user-info.label.modified' | translate }}</dt>
                        <dd>{{selectedUserInfo.modifiedAt| date}}</dd>

                        <dt>{{ 'user-info.label.lastlogin' | translate }}</dt>
                        <dd>{{selectedUserInfo.lastLoginAt| date}}</dd>
                    </dl>
                </div>
                <ng-template #no_account_info>
                    <span>{{ 'user-info.no-account-info' | translate }}</span>
                </ng-template>
            </div>

            <h3>{{ 'user-info.stes-info' | translate }}</h3>
            <div class="section">
                <div *ngIf="selectedUserInfo?.stesInformation;else no_stes_info">
                    <ul>
                        <dl>
                            <dt>{{ 'user-info.label.pn' | translate }}</dt>
                            <dd>{{selectedUserInfo.stesInformation.personNumber}}</dd>

                            <dt>{{ 'user-info.label.verified' | translate }}</dt>
                            <dd>{{selectedUserInfo.stesInformation.verifiedAt | date}}
                            </dd>
                        </dl>
                    </ul>
                </div>
                <ng-template #no_stes_info>
                    <span>{{ 'user-info.no-stes-info' | translate }}</span>
                </ng-template>
            </div>
        </div>

        <div class="col-6">
            <h3>{{ 'user-info.roles' | translate }}</h3>
            <div class="section">
                <div *ngIf="userRoles?.length > 0;else no_roles">
                    <ul>
                        <li *ngFor="let role of userRoles">
                            {{role}}
                        </li>
                    </ul>
                </div>
                <ng-template #no_roles>
                    <span>{{ 'user-info.no-roles' | translate }}</span>
                </ng-template>
            </div>

            <h3>{{ 'user-info.accountabilities' | translate }}</h3>
            <div class="section">
                <div
                    *ngIf="selectedUserInfo?.accountabilities?.length > 0;else no_accountabilites">
                    <ul>
                        <li *ngFor="let account of selectedUserInfo.accountabilities">
                            {{account.companyName}},
                            {{account.companyExternalId}},
                            {{account.companySource}}
                        </li>
                    </ul>
                </div>
                <ng-template #no_accountabilites>
                    <span>{{ 'user-info.no-accountabilities' | translate }}</span>
                </ng-template>
            </div>

            <h3>{{ 'user-info.info-actions' | translate }}</h3>
            <div *ngIf="onlyEiamUserInfo()" class="section">
                <h4>{{ 'user-info.unregistered-user.title' | translate }}</h4>
                <p>{{ 'user-info.unregistered-user.desc' | translate }}</p>
            </div>
            <div *ngIf="actionsAvailable()" class="section">
                <h4>{{ 'user-info.unregister.title' | translate }}</h4>
                <p>{{ 'user-info.unregister.desc' | translate }}</p>
                <button type="button" class="btn btn-sm btn-primary"
                        (click)="unregister()">{{ 'user-info.unregister.title' | translate }}
                </button>
            </div>
            <div *ngIf="!onlyEiamUserInfo() && !actionsAvailable()" class="section">
                <span>{{ 'user-info.no-actions' | translate }}</span>
            </div>
        </div>
    </div>
</div>
