<div class="container">
    <div *ngIf="jobAdvertisement$ | async as jobAdvertisement" class="base">

        <div class="base__subnavbar job-detail__references">
            <div class="sticked sticked--top__parent">
                <ul class="d-none d-md-flex flex-column nav filter-nav">
                    <li *ngIf="showCancellationLink$ | async" class="nav-item">
                        <a class="nav-link" (click)="showCancellationDialog(jobAdvertisement.id, token)">
                            <span class="fa fa-fw fa-trash-o" aria-hidden="true"></span>
                            {{'job-publication-details.cancel' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="copyJobAdvertisement(jobAdvertisement.id, token)">
                            <span class="fa fa-fw fa-clone" aria-hidden="true"></span> {{ 'job-publication-details.copy' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="printJobAdvertisement()"><i class="fa fa-fw fa-print" aria-hidden="true"></i> {{
                            'job-publication-details.print' | translate }}</a>
                    </li>
                </ul>
            </div>

            <div class="job-detail__company alv-logo-box flex-height md-whiteframe-1dp">
                <div *ngIf="jobAdvertisement.jobContent.company as company" class="job-detail__content">
                    <address>
                        <strong>{{ company.name }}</strong><br>
                        {{ company.street }} {{ company.houseNumber }}<br>
                        <ng-container *ngIf="company.postalCode || company.city">
                            {{ company.postalCode }} {{ company.city }}<br>
                        </ng-container>
                    </address>
                </div>

                <div *ngIf="jobAdvertisement.contact as contact" class="job-detail__content">
                    <strong>{{ 'job-publication-details.contact.title' | translate }}</strong>
                    <div>
                        {{ contact.firstName }} {{ contact.lastName }}
                    </div>
                    <div *ngIf="contact.email">
                        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                    </div>
                    <div *ngIf="contact.phone">
                        <a href="tel:{{ contact.phone }}">{{ contact.phone | jr2PhoneNumber }}</a>
                    </div>
                </div>
            </div>

            <div *ngIf="jobAdvertisement.stellennummerAvam || jobAdvertisement.stellennummerEgov" class="job-detail__pes alv-logo-box flex-height md-whiteframe-1dp">
                <div class="job-detail__content">
                    <strong>{{ 'job-publication-details.contact.accountNumber' | translate }}:</strong><br>
                    <ng-container *ngIf="jobAdvertisement.stellennummerAvam">
                        {{ 'job-publication-details.contact.avam' | translate }}: {{ jobAdvertisement.stellennummerAvam }}<br>
                    </ng-container>
                    <ng-container *ngIf="jobAdvertisement.stellennummerEgov">
                        {{ 'job-publication-details.contact.jobRoom' | translate }}: {{ jobAdvertisement.stellennummerEgov }}
                    </ng-container>
                </div>
            </div>
        </div>

        <div *ngIf="jobDescription$ | async as jobDescription" class="base__content job-detail__body">
            <ngb-alert *ngIf="showCancellationSuccess$ | async" [type]="'success'" class="d-print-none" (close)="closeSuccessMessage()">
                {{ 'job-publication-details.cancel.success' | translate }}
            </ngb-alert>
            <ngb-alert *ngIf="showCancellationError$ | async" [type]="'danger'" class="d-print-none" (close)="closeErrorMessage()">
                {{ 'job-publication-details.cancel.error' | translate }}
            </ngb-alert>

            <!-- Job details -->
            <div class="detail__title">
                <h2 class="text--light" [innerHTML]="jobDescription.title | safeHtml"></h2>
                <h4 class="text--light" *ngIf="jobAdvertisement.status">
                    {{ 'job-publication-details.status' | translate }}: {{'global.job-publication.status.' + jobAdvertisement.status | translate }}
                </h4>
                <strong>{{ jobAdvertisement.jobContent.company.name }}</strong>
                <small *ngIf="jobAdvertisement.publication.startDate" class="job-detail__date">
                    {{ 'job-publication-details.startDate' | translate }} {{ jobAdvertisement.publication.startDate | jr2Date }}
                </small>
                <small class="detail__date" *ngIf="jobAdvertisement.jobContent.numberOfJobs">
                    {{'jobroomApp.job.numberOfJobs' | translate}}: {{ jobAdvertisement.jobContent.numberOfJobs }}
                </small>
            </div>
            <p></p>

            <div *ngIf="jobAdvertisement.jobContent as jobContent" class="job-detail__content">
                <span class="badge badge-blue">
                    {{ jobContent.location.postalCode }} {{ jobContent.location.city }}
                    <ng-container *ngIf="jobContent.location.countryIsoCode">
                      ({{ jobContent.location.countryIsoCode }})
                    </ng-container>
                </span>
                <span class="badge badge-gray">{{ [jobContent.employment.workloadPercentageMin, jobContent.employment.workloadPercentageMax] | workingTimeRange }}</span>
                <span *ngIf="jobContent.employment.permanent" class="badge badge-green">{{ 'job-publication-details.permanent' | translate}}</span>
                <span *ngIf="!jobContent.employment.permanent" class="badge badge-green">{{ 'job-publication-details.temporary' | translate }}</span>
                <span *ngIf="jobContent.employment.immediately" class="badge badge-yellow">{{ 'job-publication-details.immediately' | translate }}</span>
                <span *ngIf="!jobContent.employment.immediately" class="badge badge-yellow">{{ 'job-publication-details.byArrangement' | translate }}</span>
            </div>

            <div *ngIf="jobDescription.description" class="job-detail__content">
                <markdown [data]="jobDescription.description"></markdown>
            </div>

            <!-- Languages -->
            <jr2-languages [languages]="jobAdvertisement.jobContent.languageSkills"></jr2-languages>

        </div>

        <div *ngIf="jobAdvertisement.applyChannel as applyChannel" class="base__related">
            <div class="sticked sticked--top__parent" style="top: 124px;">

                <div class="alv-logo-box flex-height flex-column md-whiteframe-1dp filter-nav">
                    <p><strong>{{ 'job-publication-details.application.title' | translate }}</strong></p>
                    <p *ngIf="getPostAddress(job.jobContent.applyChannel) as postAddress" class="nav-item">
                        <span>{{ 'job-publication-details.application.post' | translate }}</span>
                        <span>{{ postAddress }}</span>
                    </p>
                    <p *ngIf="applyChannel.emailAddress" class="nav-item">
                        <span>{{ 'job-publication-details.application.email' | translate }}:</span><br/>
                        <a href="mailto:{{ applyChannel.emailAddress }}">{{ applyChannel.emailAddress }}</a>
                    </p>
                    <p *ngIf="applyChannel.formUrl">
                        <span>{{ 'job-publication-details.application.online-form' | translate }}:</span><br/>
                        <a href="{{ applyChannel.formUrl }}" target="_blank">{{ applyChannel.formUrl }}</a>
                    </p>
                    <p *ngIf="applyChannel.phoneNumber">
                        <span>{{ 'job-publication-details.application.telephone' | translate }}:</span><br/>
                        <a href="tel:{{applyChannel.phoneNumber}}">{{ applyChannel.phoneNumber | jr2PhoneNumber }}</a>
                    </p>
                    <p *ngIf="applyChannel.additionalInfo">
                        <span>{{ 'job-publication-details.application.additionalInfo' | translate }}:</span><br/>
                        <span>{{ applyChannel.additionalInfo }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
