.system-notification {
    background-color: #fde9a4;
    margin-top: -1.5rem;
    .warning-icon{
        color:white;
        width: 2.4rem;
        display: inline-block;
        text-align: -webkit-center;
        background-color: #F46401;
    }
}
