<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 jhiTranslate="relogin.title">Complete registration</h2>

            <div jhiTranslate="relogin.text">
                You now have the necessary access rights for arbeit.swiss. But the access rights are only available after the next login. Please logout. With that the registration process is complete and you can come back to arbeit.swiss and login as a registered user.
            </div>

            <hr class="relogin_text_spacing">

            <div jhiTranslate="relogin.click.text" class="relogin_text_spacing">
                Press button to logout. With your next login, your registration will be complete.
            </div>
            <form class="form relogin_text_spacing" role="form">
                <div class="form-group row">
                    <div class="col-sm-4 .mt-sm-0">
                        <a class="btn btn-primary btn-lg btn-block relogin_button_text" (click)="logout()">
                            <span jhiTranslate="relogin.button.text">Logout now</span>
                        </a>
                    </div>
                </div>
            </form>

       </div>
    </div>
</div>
