<form name="createForm" role="form" novalidate (ngSubmit)="createSystemNotification()" #createForm="ngForm" [ngFormOptions]="{updateOn: 'submit'}">
    <div class="modal-header">
        <h4 class="modal-title">Neue System Mitteilung erfassen</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="form-control-label">Titel</label>
            <input type="text" class="form-control" name="title" #title="ngModel"  [(ngModel)]="systemNotification.title" required>
        </div>
        <div class="form-group">
            <label class="form-control-label">Text(DE)</label>
            <input type="text" class="form-control" name="text" #text="ngModel" [(ngModel)]="systemNotification.text" required>
        </div>
        <div class="form-group">
            <label class="form-control-label">Mitteilungstyp</label>
            <select class="form-control" name="type"  #endDate="ngModel" [(ngModel)]="systemNotification.type" required>
                <option>INFO</option>
                <option>SYSTEM</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label">Anzeigen von:</label>
            <input type="text" class="form-control" name="startDate" #startDate="ngModel" [(ngModel)]="systemNotification.startDate" required>
        </div>
        <div class="form-group">
            <label class="form-control-label">Anzeigen bis:</label>
            <input type="text" class="form-control" name="endDate"  #endDate="ngModel" [(ngModel)]="systemNotification.endDate" required>
        </div>
        <div class="form-group">
            <label class="form-control-label">Aktiviert:</label>
            <input type="checkbox" class="form-control" name="active" value="false" #active="ngModel" [(ngModel)]="systemNotification.active" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="createForm.form.invalid">
            <span class="fa fa-floppy-o"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
