<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="systemNotificationsManagement.edit.modal.title">Edit new
        SystemNotification</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;
    </button>
</div>
<form [formGroup]="updateForm" role="form" (ngSubmit)="updateSystemNotification(updateForm)" novalidate>
    <div class="modal-body">
        <label class="form-control-label">Titel</label>
        <input type="text" class="form-control" formControlName="title" name="title">
        <!--<div class="alert alert-danger" *ngIf="editForm.get('title').hasError('required') && editForm.get('title').touched">TEST IF IT WORKS</div>-->

        <div class="form-group">
            <label class="form-control-label">Text_DE</label>
            <input type="text" class="form-control" formControlName="text_de" name="text_de">
        </div>
        <div class="form-group">
            <label class="form-control-label">Text_FR</label>
            <input type="text" class="form-control" formControlName="text_fr" name="text_fr">
        </div>
        <div class="form-group">
            <label class="form-control-label">Text_IT</label>
            <input type="text" class="form-control" formControlName="text_it" name="text_it">
        </div>
        <div class="form-group">
            <label class="form-control-label">Text_EN</label>
            <input type="text" class="form-control" formControlName="text_en" name="text_en">
        </div>
        <div class="form-group">
            <label class="form-control-label">Type</label>
            <select class="form-control" formControlName="type" name="type">
                <option value="Unterbrechung" jhiTranslate="systemNotificationsManagement.systemnotification.type.interruption">Interruption
                </option>
                <option value="Systemfehler" jhiTranslate="systemNotificationsManagement.systemnotification.type.systemerror">System error
                </option>
                <option value="Wartung" jhiTranslate="systemNotificationsManagement.systemnotification.type.maintenance">Maintenance
                </option>
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label class="form-control-label">Anzeigen von:</label>
                <div class="input-group">
                    <input #startDatePicker="ngbDatepicker"
                           class="form-control"
                           name="startDate"
                           placeholder="{{ 'systemNotificationsManagement.date-placeholder' | translate }}"
                           ngbDatepicker
                           formControlName="startDate">
                    <button class="input-group-addon"
                            (click)="startDatePicker.toggle();"
                            type="button">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </button>
                </div>
                <div *ngIf="updateForm.get('startDate').invalid">
                    <small class="form-text text-danger" *ngIf="updateForm.get('startDate').errors.ngbDate.invalid">
                        {{ 'systemNotificationsManagement.messages.validate.date-format' | translate}}
                    </small>
                </div>
            </div>
            <div class="form-group col-md-4">
                <ngb-timepicker formControlName="startDateTime" class="float-md-right"></ngb-timepicker>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                <label class="form-control-label">Anzeigen bis:</label>
                <div class="input-group">
                    <input #endDatePicker="ngbDatepicker"
                           class="form-control"
                           name="endDate"
                           placeholder="{{ 'systemNotificationsManagement.date-placeholder' | translate }}"
                           [minDate]="endDateMin"
                           ngbDatepicker
                           formControlName="endDate">
                    <button class="input-group-addon"
                            (click)="endDatePicker.toggle();"
                            type="button">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    </button>
                </div>
                <div *ngIf="updateForm.get('endDate').invalid">
                    <small class="form-text text-danger" *ngIf="updateForm.get('endDate').errors.ngbDate.invalid">
                        {{ 'systemNotificationsManagement.messages.validate.date-format' | translate}}
                    </small>
                    <small class="form-text text-danger" *ngIf="updateForm.get('endDate').errors.ngbDate.requiredBefore">
                        {{ 'systemNotificationsManagement.messages.validate.endDate.date-before' | translate}}
                    </small>
                </div>
            </div>
            <div class="form-group col-md-4">
                <ngb-timepicker formControlName="endDateTime" class="float-md-right"></ngb-timepicker>
            </div>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input formControlName="active" type="checkbox" class="form-check-input"/>
                Aktiviert
            </label>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">
            <span class="fa fa-floppy-o"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
