<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title" jhiTranslate="registration.customer.title">Identification</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="close()">&times;
        </button>
    </div>
    <div class="modal-body">
        <p jhiTranslate="registration.customer.text">Please fill in..</p>
        <div *ngIf="mismatchInfo" class="missmatch-info"
             jhiTranslate="registration.customer.identificaton.mismatch.error"></div>

        <form [formGroup]="registerForm" role="form" novalidate>

            <div class="form-group">
                <label for="pn" class="col-form-label">
                    {{ 'registration.customer.pn.label' | translate }}
                </label>
                <div>
                    <input class="form-control"
                           type="text" [maxlength]="8"
                           formControlName="customerPN"
                           [placeholder]="'registration.customer.pn.placeholder'|translate"
                           id="pn">
                    <jr2-input-error-message [formGroup]="registerForm"
                                             path="customerPN"
                                             [errorCodes]="['required', 'pattern']"
                                             [keys]="['home.tools.job-publication.messages.validate.required',
                                                 'registration.customer.messages.validate.pn']">
                    </jr2-input-error-message>
                </div>
            </div>

            <div class="form-group">
                <label for="birthday" class="col-form-label">
                    {{ 'registration.customer.birthdate.label' | translate }}
                </label>
                <div class="input-group">
                    <input #birthdayDatePicker="ngbDatepicker"
                           class="form-control date__input"
                           id="birthday"
                           placeholder="{{ 'home.tools.job-publication.date-placeholder' | translate }}"
                           ngbDatepicker
                           formControlName="customerBirthday"
                           [minDate]="birthdayDateMin"
                           [maxDate]="birthdayDateMax"
                           [startDate]="birthdayDateStart"
                           (focus)="birthdayDatePicker.close()"/>
                    <button class="input-group-addon"
                            (click)="birthdayDatePicker.toggle()"
                            type="button">
                        <i class="fa fa-calendar-o"
                           aria-hidden="true"></i>
                    </button>
                </div>
                <jr2-input-error-message [formGroup]="registerForm"
                                         path="customerBirthday"
                                         [errorCodes]="['required','ngbDate']"
                                         [keys]="['home.tools.job-publication.messages.validate.required','home.tools.job-publication.messages.validate.required']">
                </jr2-input-error-message>
            </div>

        </form>
        <jhi-alert-error></jhi-alert-error>
    </div>
    <div class="modal-footer">
        <button (click)="onSubmit()" class="btn btn-primary btn-lg"
                [disabled]="checkButtonDisabled()">
            {{ 'registration.customer.login' | translate }}
        </button>
        <button (click)="close()" class="btn btn-secondary btn-lg">
            {{ 'registration.customer.cancel' | translate }}
        </button>
    </div>
</div>




