<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" jhiTranslate="registrationPavDialog.title"></h5>

        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close"
                (click)="close()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <input type="text" class="form-control" name="organization"
                   #organizationInput="ngModel"
                   placeholder="{{'registrationPavDialog.placeholder' | translate}}"
                   [(ngModel)]="userOrganization"
                   [ngbTypeahead]="searchOrganizations"
                   [inputFormatter]="formatter"
                   [resultFormatter]="formatter">
        </div>
        <div [hidden]="!userOrganization?.name">
            <p>
                <span jhiTranslate="registrationPavDialog.postal.description"></span>
                <address *ngIf="userOrganization">
                    {{userOrganization.name}}<br>
                    {{userOrganization.street}}<br>
                    {{userOrganization.zipCode}} {{userOrganization.city}}<br>

                </address>
            </p>

            <p><span
                jhiTranslate="registrationPavDialog.login.description"></span>
            </p>

        </div>
        <div class="modal-footer">
            <button
                type="submit"
                *ngIf="!isSubmitted"
                class="btn btn-primary"
                [disabled]="!userOrganization?.name"
                jhiTranslate="registrationPavDialog.requestActivationCode"
                (click)="requestActivationCode()">
            </button>
            <button
                class="btn btn-success"
                *ngIf="isSubmitted"
                jhiTranslate="registrationPavDialog.activationCodeRequested"
                disabled>
            </button>
            <button
                type="button"
                class="btn btn-secondary"
                jhiTranslate="registrationPavDialog.returnToHomepage"
                (click)="goToHomePage()">
            </button>
        </div>
    </div>
</div>
