/*=================================================================================
Style guide customization
=================================================================================== */
@import '~@alv-ch/alv-styleguide/build/scss/alv-ch_variables';

.navbar {
    .nav-link--account {
        color: $main-accent-color;
        &:hover {
            color: $main-accent-color !important;
        }
    }
    .nav-link--account-warning {
        background-color: $other-colors-red;
        color: $main-color-white !important;
        &:hover {
            background-color: #780b05 !important;
            color: $main-color-white !important;
        }
    }
    .dropdown-item--account {
        color: $main-color-black;
        &:hover {
            color: $main-accent-color;
        }
    }

    .dropdown-item--account-warning {
        color: $main-accent-color;
        &:hover {
            color: $main-accent-color;
        }
    }

    .navbar__nested-nav .nav-link {
        padding: 0.1rem 0;
        color: $other-colors-red;
    }

    @media screen and (min-width: 768px){
        .navbar-brand.portal-logo {
            z-index: 100 !important;
        }

        .portal-logo__image span {
            display: none;
        }

    }

    @media screen and (max-width: 767px){
        .portal-logo__image img {
            display: none;
        }
    }
}
.navbar-nav .nav-link.nav-link--registration:hover {
    background-color: #780b05;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: $main-color-black;
}

@media screen and (max-width: 767px){
    .navbar-nav .dropdown-menu.show {
        position: absolute;
    }
}

@media screen and (min-width: 767px){
    .navbar-nav .dropdown-menu--account.show {
        position: absolute;
        display: inline-block;
        right: auto;
    }
}
