<div class="toolbar toolbar--light md-whiteframe-3dp sticked sticked--top">
    <div class="container">
        <form [formGroup]="toolbarForm" (ngSubmit)="search(toolbarForm.value)" novalidate
              class="form-inline toolbar-form">

            <div class="form-group form-group--wide">
                <label class="sr-only" translate="candidate-search.occupations.label"></label>
                <jr2-typeahead-multiselect
                    formControlName="occupations"
                    [itemLoader]="fetchOccupationSuggestions"
                    [editable]="false"
                    [tooltip]="'candidate-search.occupations.tooltip'| translate"
                    [placeholder]="'candidate-search.occupations.placeholder' | translate"></jr2-typeahead-multiselect>
            </div>

            <div class="form-group form-group--wide">
                <label class="sr-only" translate="candidate-search.skills.label"></label>
                <jr2-multiselect
                    formControlName="skills"
                    [tooltip]="'candidate-search.skills.tooltip'| translate"
                    [placeholder]="'candidate-search.skills.placeholder' | translate">
                </jr2-multiselect>
            </div>

            <div class="form-group">
                <label class="sr-only" translate="candidate-search.workplace.label"></label>
                <jr2-typeahead-multiselect formControlName="workplace"
                                            size="lg" class="w-100"
                                            [limit]="1"
                                            [focusFirst]="true"
                                            [placeholder]="'candidate-search.workplace.placeholder' | translate"
                                            [itemLoader]="fetchLocalitySuggestions"
                                            [editable]="false"></jr2-typeahead-multiselect>
            </div>

            <jr2-search-button [loading]="loading"></jr2-search-button>
            <a href="#" class="btn-lg" (click)="resetFilters($event)">{{ 'candidate-search.toolbar.reset' | translate }}</a>
        </form>
    </div>
</div>
