<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" jhiTranslate="registrationCompanyDialog.title"></h5>

        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close"
                (click)="close()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="companyForm" (ngSubmit)="findCompanyByUid()">
            <div class="form-group">
                <input type="text"
                       placeholder="{{'registrationCompanyDialog.placeholder' | translate}}"
                       pattern="^CHE\-[0-9]{3}\.[0-9]{3}\.[0-9]{3}$"
                       formControlName="uid">
                <button type="submit" class="btn btn-secondary"
                        jhiTranslate="registrationCompanyDialog.findButton"
                        [disabled]="!companyForm.get('uid').value || companyForm.get('uid').invalid">
                </button>
                <jr2-input-error-message [formGroup]="companyForm"
                                         path="uid"
                                         [errorCodes]="['pattern']"
                                         [keys]="['registrationCompanyDialog.validation.error.uid']">
                </jr2-input-error-message>
            </div>
        </form>

        <div *ngIf="companyNotFound && companyForm.pristine"
             class="alert alert-danger"
             jhiTranslate="registrationCompanyDialog.validation.error.notFound">
        </div>

        <div [hidden]="!company">
            <div>
                    <span
                        jhiTranslate="registrationCompanyDialog.postal.description"></span>
                <address *ngIf="!!company">
                    {{company.name}}<br>
                    {{company.additionalName}}<br>
                    {{company.address.street}} {{company.address.buildingNum}}<br>
                    {{company.address.zip}} {{company.address.city}}<br>
                </address>
            </div>
            <p><span
                jhiTranslate="registrationCompanyDialog.login.description"></span>
            </p>
        </div>


    </div>
    <div class="modal-footer">
        <button
            *ngIf="!isSubmitted"
            class="btn btn-primary"
            [disabled]="!company || disableSubmit"
            jhiTranslate="registrationCompanyDialog.requestActivationCode"
            (click)="requestActivationCode()">
        </button>
        <button
            class="btn btn-success"
            *ngIf="isSubmitted"
            jhiTranslate="registrationCompanyDialog.activationCodeRequested"
            disabled>
        </button>
        <button
            type="button"
            class="btn btn-secondary"
            jhiTranslate="registrationCompanyDialog.returnToHomepage"
            (click)="goToHomePage()">
        </button>
    </div>
</div>
