@import '../../../../content/scss/jbr2_variables';

.form-control.ng-invalid {
    border-left: 5px solid #a94442;
}

.date__input {
    margin: 0;
    &:enabled {
        background-color: #ffffff;
    }
}

.registration-questionnaire-header {
    background: $main-color-gray-light-50;
    padding: $margin-x-general $margin-x-general*2;
    margin: $margin-x-general;
    width: 750px;
}

.registration-questionnaire-header {
    padding-top: $margin-x-general;
}

.registration-questionnaire__actions {
    padding-top: $margin-x-general;
    padding-bottom: $margin-x-general;
    margin-right: $margin-y-general;
    margin-left: $margin-y-general;

    > .form__actions {
        margin-left: 66%;
        width: calc(42% - #{$margin-y-general});
        display: flex;

        .btn {
            width: 50%;
            margin-right: $margin-y-general;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.form-group {
    max-width: 200px;
}

.missmatch-info{
    background-color: #EBCFCD;
    padding: 1rem;
}

