<div ngbDropdown class="dropdown" *ngIf="availableCompanies$">
    <a ngbDropdownToggle
       class="nav-link nav-link--account dropdown-toggle"
       href="javascript:void(0);">
        <span>
             {{(selectedCompany$ | async)?.companyName}}
        </span>
    </a>

    <ul class="dropdown-menu dropdown-menu-right dropdown-menu--account"
        ngbDropdownMenu>
        <li *ngFor="let company of availableCompanies$ | async ">
            <a class="dropdown-item" href="javascript:void(0);"
               (click)="onCompanySelected(company)">
                {{company.companyName}}
            </a>
        </li>
    </ul>
</div>
